
body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 1em;
}

form input[type="text"] {
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 21px;
  min-width: 500px;
}

form button {
  font-size:21px;
  padding: 10px;
  cursor:pointer;
}