
body {
  font-family: Arial, sans-serif;
}

header {
  width: 21%;
  padding: 2em 2% 2em;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #eee;
}

.books-layout {
  padding: 2em 5% 2em;
  width: 65%;
  float: right;
}

.loading-books {
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  z-index: 9999;
}

img.loading-gif {
  width: 60px;
  position: absolute;
  right: 40px;
  top: 40px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 1em;
}

form input[type="text"] {
  border: 1px solid #DDD;
  padding: 5px;
  font-size: 21px;
  min-width: 150px;
}

form button {
  font-size:21px;
  padding: 5px;
  cursor:pointer;
}

.book {
  position: relative;
  border: 1px solid #FFF;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid #AAA;
}

.detail-view {
  position: fixed;
  width: 60%;
  left: 0;
  margin: 5% 20% 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid #666;
  z-index: 99;
}

.detail-info {
 padding: 0 30px 0 30px;
}

.description {
  padding: 1em 0 1em;
}

.detail-view img  {
  float: left;
  margin-right: 2em;
}

.close-detail {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 32px;
}
